@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .title-profile {
    @apply text-xl font-bold leading-relaxed tracking-wider font-roboto;
  }

  .header-title {
    @apply border-b-[1px] border-slate-200 text-3xl font-semibold mb-6 w-full p-8 pb-4 font-roboto pl-0 pt-3
  }
}